/* General Styles */
body {
    font-size: larger;
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor: url('Unit 03 [num] (normal select).cur'), auto; /* Default cursor */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

/* Header */
header.main-title {
    font-size: 90%;
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.main-title img.AUS {
    height: 60px;
    width: auto;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    max-height: 10%;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    float: left;
    width: 20%;
}

@keyframes slider{
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%
    }
    100% {
        left: -400%;
    }
}

header.main-title.text-box h1 {
    display: inline;
    font-size: 24px;
    vertical-align: middle;
}

.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


/* Navigation Menu */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    padding: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    transition: font-size 1s;
}

.head:hover {
    font-size: 120%;
    transition: font-size 0.2s;
}

/* Content Section */
.content {
    max-width: 100%;
    margin: 30px;
    padding: 2%;
    background-color: white;
    border-style: solid;
    border-color: #0056b3;
    border-radius: 8px;
    text-align: center;
}

.content h1,.content h2,.content h3,.content h4,.content h5,.content h6 {
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #6C1BD1;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer nav ul {
    font-size: small;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav ul li {
    display: inline;
    margin-right: 10px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

.btn {
    background-color: #002B43;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #0844F2;
    transition: background 0.3s ease-in-out;
}

/* Additional styles for buttons */
button.btn {
    border: none;
    cursor: pointer;
}

/* General Body Styles */
.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    text-align: center;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-size: larger;
}

.form-input {
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 450px; /* Adjust the width as desired */
    font-size: 16px; /* Adjust the font size as desired */
}
/* -------------------Events style------------------- */

.gap {
    row-gap:.75rem;
    column-gap: 2rem;
    grid-template-columns: auto minmax(0, 1fr) auto;
    display: grid;
    align-content: center;
}

.line {
    background-color: black;
    width: 15cm;
    height:.25rem;
    grid-column: span 3 / span 3;
}

.arrow {
    transform: translate(0, 0) rotate(90deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.ar1 {
    fill:  #007BFF;
}

.ar2 {
    fill:  #007BFF;
}

.ar3 {
    fill:  #007BFF;
}

.info {
    font-size: 30px;
}

svg {
    vertical-align: middle;
}