/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header */
header.main-title {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
}

header.main-title img.AUS {
    height: 50px;
    vertical-align: middle;
    margin-right: 20px;
}

header.main-title .text-box h1 {
    display: inline;
    font-size: 24px;
    vertical-align: middle;
}

/* Navigation Menu */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    transition: font-size 0.5s;
}

.head:hover {
    font-size: 120%;
    transition: font-size 0.3s;
}

/* Content Section */
.content {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 10px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

.btn {
    background-color: #007BFF;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    transition: background 0.3s ease-in-out;
}

/* Additional styles for buttons */
button.btn {
    border: none;
    cursor: pointer;
}

/* Apply custom cursor to the whole body */
body {
    cursor: url('Unit 01 (normal select).cur'), auto;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    text-align: center;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-size: larger;
}

.form-input {
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px; /* Adjust the width as desired */
    font-size: 16px; /* Adjust the font size as desired */
}
/* -------------------Events style------------------- */

.gap {
    row-gap: .75rem;
    column-gap: 2rem;
    grid-template-columns: auto minmax(0, 1fr) auto;
    display: grid;
    align-content: center;
}

.line {
    background-color: black;
    width: 40.3rem;
    height: .25rem;
    margin-right: auto;
    grid-column: span 3 / span 3;
}

.arrow {
    transform: translate(0, 0) rotate(90deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.ar1 {
    fill:  #007BFF;
}

.ar2 {
    fill:  #007BFF;
}

.ar3 {
    fill:  #007BFF;
}

.info {
    font-size: 30px;
}

svg {
    vertical-align: middle;
}